@import "tailwindcss";

@layer base {
  * {
    @apply transition-all duration-200 ease-in-out;
  }
}


body {
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #867F54;
  font-family: var(--font-playfair), serif;
}
p{
  color: #B2AC88;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  transition: 0.3s all ease-in;
}
input,
textarea {
  outline: 0;
}
main {
  position: relative;
  padding-top: 158px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1320px;
}

.header {
  .main-nav {
    text-transform: capitalize !important;
  }
}

.home-banner{
  width: 100%;
  height: 70vh;
  h2{
    line-height: 1.3;
  }
}

.headingH2{
  font-size: 28px;
  font-weight: 600;
}

.btnType-1{
  padding: 8px 15px;
  background-color: #B2AC88;
  color: #fff;
  cursor: pointer;
}
.btnType-1:hover{
  background-color: #867F54;
}
.testimonials {
  .swiper-button-prev{
    width: 40px;
    height: 40px;
    background-color: #867F54;
    border-radius: 100%;
    left: 32.5%;
    &::after{
      font-size: 16px;
      color: #fff;
    }
  }
  .swiper-button-next{
    width: 40px;
    height: 40px;
    background-color: #867F54;
    border-radius: 100%;
    right: 32.5%;
    &::after{
      font-size: 16px;
      color: #fff;
    }
  }
}
.footer{
  ul li a{
    color: #B2AC88;
  }
  ul li a:hover{
    color: #867f54;
  }
  .foot-links{
    width: calc(100% - 17px);
  }
}