@import "tailwindcss";

@layer base {
  * {
    @apply transition-all duration-200 ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-lato), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #867F54;
  font-family: var(--font-playfair), serif;
}

p {
  color: #B2AC88;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
  transition: 0.3s all ease-in;
}

input,
textarea {
  outline: 0;
}

main {
  position: relative;
  padding-top: 158px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1320px;
}

.header {
  .main-nav {
    text-transform: capitalize !important;
  }
}

.home-banner {
  width: 100%;
  height: 70vh;

  h2 {
    line-height: 1.3;
  }

  .overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #858054;
    background: -webkit-linear-gradient(180deg, rgba(133, 128, 84, 0) 63%, rgba(133, 128, 84, 0.58) 100%);
    background: -moz-linear-gradient(180deg, rgba(133, 128, 84, 0) 63%, rgba(133, 128, 84, 0.58) 100%);
    background: linear-gradient(180deg, rgba(133, 128, 84, 0) 63%, rgba(133, 128, 84, 0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#858054", endColorstr="#858054", GradientType=0);
  }
}

.headingH2 {
  font-size: 28px;
  font-weight: 600;
}

.headingH1 {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.btnType-1 {
  padding: 8px 15px;
  background-color: #B2AC88;
  color: #fff;
  cursor: pointer;
}

.btnType-1:hover {
  background-color: #867F54;
}

.testimonials {
  .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-color: #867F54;
    border-radius: 100%;
    left: 32.5%;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: #867F54;
    border-radius: 100%;
    right: 32.5%;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }
}

.footer {
  ul li a {
    color: #867f54;
  }

  ul li a:hover {
    color: #B2AC88;
  }


  .foot-links {
    width: calc(100% - 17px);
  }
}

.top-choices,
.category-slider,
.product-top, .product-slider {
  .swiper-button-prev {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    left: 5px;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
    right: 5px;
    border-radius: 100%;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .nav-btns {
    transform: translateY(50%);
    background-color: #867F54;

  }
}

.page-banner {
  min-height: 28vh;
  height: 100;
}

.breadcrum {
  a:hover {
    color: #867F54;
  }
}

.category-slider,
.top-choices {
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background: #2A7B9B;
    background: -webkit-linear-gradient(180deg, rgba(42, 123, 155, 0) 70%, rgba(133, 128, 84, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(42, 123, 155, 0) 70%, rgba(133, 128, 84, 1) 100%);
    background: linear-gradient(180deg, rgba(42, 123, 155, 0) 70%, rgba(133, 128, 84, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2A7B9B", endColorstr="#858054", GradientType=0);
  }
}

.product-top {
  .product-bread {
    a:hover {
      color: #B2AC88;
    }
  }

  .prod-thumb {
    .swiper-slide {
      opacity: 0.7;
      filter: blur(0.6);
    }

    .swiper-slide.swiper-slide-thumb-active {
      opacity: 1;
      filter: blur(0);
    }
  }

  .swiper-button-prev {
    width: 40px;
    height: 40px;

    border-radius: 100%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #867F54;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
    right: 5px;
    border-radius: 100%;
top: 50%;
    transform: translateY(-50%);
    background-color: #867F54;

    &::after {
      font-size: 16px;
      color: #fff;
    }
  }
}

.prose {
  img {
    width: 100%;
    height: 450px;
    margin: 20px 0;
    border-radius: 6px;
  }
  h2 {
    font-size: 16pt;
  }
  h3 {
    font-size: 14pt;
  }
  h4 {
    font-size: 12pt;
  }
  h2,
  h3,
  h4 {
    font-weight: 600;
    margin: 15px 0;
  }
  h2 span,
  h3 span,
  h4 span{
    color: #867f54;
  }
  p span {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12pt;
    color: #888367;
  }
  a span {
    color: #cf964f !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  a:hover span {
    color: #8b855b !important;
  }
  a {
    color: #cf964f !important;
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  a:hover {
    color: #8b855b !important;
  }
  ol,
  ul {
    margin-left: 20px;
  }
  li::marker{
    color: #888367;
  }
  li span{
    font-size: 12pt !important;
    color: #888367;
  }
  ol,
  ol li {
    list-style: decimal !important;
    /* margin-left: 15px; */
  }
  ul,
  ul li {
    list-style: disc !important;
    /* margin-left: 15px; */
  }
  table {
    border: 2px solid black;
    border-spacing: 10px;
    width: 100% !important;
    td,
    th {
      border: 1px solid gray;
      padding: 5px 10px;
      p {
        padding: 0px;
      }
    }
  }
}

.pg-des .wrapper .inner-wrapper {
  padding: 15px 40px 24px;
  border-radius: 15px;
}

.pg-des .prose.collapsed {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.read-btn {
  background-color: #b2ac88;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 20px;
}
.read-btn:hover {
  background-color: #b2ac88;
  color: #fff;
}

.pg-des .fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
background: #F3F3EB;
background: -webkit-linear-gradient(180deg, rgba(243, 243, 235, 0) 8%, rgba(251, 251, 241, 1) 100%);
background: -moz-linear-gradient(180deg, rgba(243, 243, 235, 0) 8%, rgba(251, 251, 241, 1) 100%);
background: linear-gradient(180deg, rgba(243, 243, 235, 0) 8%, rgba(251, 251, 241, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F3F3EB", endColorstr="#FBFBF1", GradientType=0);
  pointer-events: none;
  z-index: 10;
}

.whatsapp-float {
  position: fixed;
  bottom: 122px;
  right: 26px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  background-color: #06be06;
  z-index: 999999;
  border-radius: 100%;
}